@{
    ViewData["Title"] = "Home";
}

<h1>MvcBase</h1>
<p>
    An ASP.NET Core MVC (.NET 9) port of the original PHP MVC skeleton
    (<a href="https://github.com/Roberto-Celano/MVCbase" rel="noopener">Roberto-Celano/MVCbase</a>).
</p>
<p>Try it out: <a asp-controller="User" asp-action="Register">register an account</a> or
    <a asp-controller="User" asp-action="Login">log in</a>.</p>
